<app-header></app-header>
<main>
  <ul id="users">
    <li>
      <app-user [user]="users[0]" (clickOnUser)="onSelectedUser($event)" />
    </li>
    <li>
      <app-user [user]="users[1]" (clickOnUser)="onSelectedUser($event)" />
    </li>
    <li>
      <app-user [user]="users[2]" (clickOnUser)="onSelectedUser($event)" />
    </li>
    <li>
      <app-user [user]="users[3]" (clickOnUser)="onSelectedUser($event)" />
    </li>
  </ul>

  <app-tasks [name]="selectedUserName() ? selectedUserName()?.name : ''" />
</main>
